
{% extends "school_members/base.html" %}

{% block content %}

    <div class="container">
        <h1 class="display-4 mb-4">Profesores</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col float-right"><a href="{% url 'profesor_insertar' %}" class="btn w-25 btn-dark float-right">Añadir</a></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for profesor in listado %}
                <tr>
                    <td class="align-middle">{{profesor.nombre}}</td>
                    <td class="align-middle">{{profesor.apellidos}}</td>
                    <td class="float-right">
                      <a href="{% url 'profesor_detalles' profesor.id %}" class="btn w-75 btn-dark d-inline">Detalles</a>
                      <a href="{% url 'profesor_actualizar' profesor.id %}" class="btn w-75 btn-dark d-inline">Editar</a>
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{profesor.id}}">
                        Eliminar
                      </button>
                    </td>

                    <div class="modal fade" id="{{profesor.id}}" tabindex="-1" role="dialog" aria-labelledby="{{profesor.id}}" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Eliminar alumno</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body text-center">
                            ¿Desea eliminar al profesor <br> <strong>{{profesor.nombre}} {{profesor.apellidos}}</strong>?
                          </div>
                          <div class="modal-footer">
                            <form action="{% url 'profesor_eliminar' profesor.id %}" method="post">
                              {% csrf_token %}
                              <button type="submit" class="btn w-75 btn-danger">Eliminar</button>
                          </form>
                          <button type="button" class="btn w-75 btn-dark" data-dismiss="modal">Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </tr>
            {% endfor%}
              </tr>
            </tbody>
          </table>
          
    </div>



  {% endblock content %}

